<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Dopetrope by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="styles/main.css" />
		<link rel="stylesheet" href="styles/index.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header">

						<!-- Logo -->
<!--
            <h1><a href="index.html">Dopetrope</a></h1>
-->
						<!-- Nav -->
<!--
              <nav id="nav">
								<ul>
									<li class="current"><a href="index.html">Home</a></li>
									<li><a href="left-sidebar.html">Left Sidebar</a></li>
									<li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
								</ul>
							</nav>
-->
						<!-- Banner -->
							<section id="banner">
								<header>
									<h2>BOOST YOUR BRAND.</h2>
									<p>We connnect sponsors to the right events</p>
								</header>
								<footer>
									<ul class="actions">
										<!--<li><a href="#" id="becomesponsor" class="button alt big banner-button">List sponsorship</a></li>
									  -->
										<li><a href="http://goo.gl/forms/A36O6EGvLd" class="button big banner-button">List sponsorship</a></li>
                  </ul>
                  <p>Not a sponsor? <a href="http://goo.gl/forms/H12ZYM8gMI">List an Event</a></p>
								</footer>
							</section>

						<!-- Intro -->
							<section id="intro" class="container">
								<div class="row">
									<div class="4u 12u(mobile)">
										<section class="first">
											<i class="icon featured fa-star"></i>
											<header>
												<h2>Online & Event <br> Marketing</h2>
											</header>
											<p>Build your brand on SponsorLane and at events that you sponsor.</p>
										</section>
									</div>
									<div class="4u 12u(mobile)">
										<section class="middle">
											<i class="icon featured alt fa-cog"></i>
											<header>
												<h2>Online<br> requests</h2>
											</header>
										  <p>Manage all your requests online and stop receiving unsolicited requests once you've maxed out.</p>
                    </section>
									</div>
									<div class="4u 12u(mobile)">
										<section class="last">
											<i class="icon featured alt2 fa-flash"></i>
											<header>
											  <h2>Event <br> Impact</h2>
											</header>
											<p>View event reports and analyze your sponsorship history.</p>
										</section>
									</div>
								</div>
							</section>

					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row">
							<div class="12u">

								<!-- Portfolio -->
									<section>
										<header class="major">
											<h2>Sponsors</h2>
										</header>
										<div class="row">
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img src="http://2.bp.blogspot.com/-HMxeCu3uJqo/VIhAfcqnL7I/AAAAAAAAFec/X0QBFKbWBe0/s1600/rawspicebarheader23.jpg" alt="" /></a>
													<header>
														<h3><a href="http://rawspicebar.com/">Raw Spice Bar</a></h3>
                            <p>Sponsor package: 6 months of spice subscription</p>
                            <p>Looking for events with people who love to cook!</p>
													</header>
                          <footer>
                            <ul class="actions">
                              <li><a href="http://goo.gl/forms/zSf7nL8NUE" id="becomesponsor" class="button alt big banner-button">Claim this package</a></li>
                            </ul>
                          </footer>
												</section>
											</div>
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img src="http://www.ginaheartlifestyle.com/wp-content/uploads/2013/06/excited-gina-heart.jpg" alt="" /></a>
													<header>
														<h3><a href="http://ginaheart.com/">Gina Heart Lifestyle</a></h3>
													  <p>Sponsor package: 45 minutes coaching session</p>
                            <p>Looking for events with entrepreneurs and young professionals in career transitions</p>
													</header>
                          <footer>
                            <ul class="actions">
                              <li><a href="http://goo.gl/forms/zSf7nL8NUE" id="becomesponsor" class="button alt big banner-button">Claim this package</a></li>
                            </ul>
                          </footer>
												</section>
											</div>
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img src="http://cdn.shopify.com/s/files/1/0907/7588/products/Umed_Patta_1_black_matted_frame_1024x1024.jpg?v=1461134056" alt="" /></a>
													<header>
														<h3><a href="http://http://rootsstudio.co/">Roots Studio</a></h3>
													  <p>Sponsor package: Framed Gond Art from India</p>
                            <p>Looking for events with people who value unique art pieces</p>
                          </header>
                          <footer>
                            <ul class="actions">
                              <li><a href="http://goo.gl/forms/zSf7nL8NUE" id="becomesponsor" class="button alt big banner-button">Claim this package</a></li>
                            </ul>
                          </footer>
												</section>
											</div>
										</div>
									

								<!-- Blog -->
									<section>
									  <br>
		                <br>
                    <header class="major">
                      <h2>Events</h2>
										</header>
										<div class="row" id="event">
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img class="taller" src="http://www.asiamattersforamerica.org/sites/default/files//field/image/Japan/JASC-64-Group.jpg" alt="" /></a>
													<header>
														<h3>Japan-America Student Conference</h3>
														<p>August 1st-24th, 2016 <br> San Francisco and Washington DC <br> Attendees: 200 college students from Japan and the U.S.</p>
													</header>
													<p>A student-led exchange program to foster Japan-U.S. relations.</p>
                          <p>Looking for: cash sponsors</p>
                          <footer>
                            <ul class="actions">
                              <li><a href="http://goo.gl/forms/qEgkIykrRI" id="becomesponsor" class="button alt big banner-button">Sponsor this event</a></li>
                            </ul>
                          </footer>
												</section>
											</div>
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img class="taller" src="http://www.juliecameron.com/blog/wp-content/uploads/2014/06/gdiaa_launch.jpg" alt="" /></a>
													<header>
														<h3>Girl Develop It: PairUp Programming</h3>
                            <p>May 21st, 2016 <br> San Francisco <br> Attendees: 60 beginner female programers ages 22-30</p>
													</header>
													<p>A programming event for females new to coding to meet and code with each other.</p>
                          <p>Looking for: food sponsors</p>
                          <footer>
                            <ul class="actions">
                              <li><a href="http://goo.gl/forms/qEgkIykrRI" id="becomesponsor" class="button alt big banner-button">Sponsor this event</a></li>
                            </ul>
                          </footer>
												</section>
											</div>
                      <div class="4u 12u(mobile)">
                        <section class="box">
                          <a href="#" class="image featured"><img class="taller" src="https://clickingtogether.files.wordpress.com/2013/08/1k0a9784.jpg?w=496&h=331&crop=1" alt="" /></a>
                          <header>
                            <h3>Clicking Together Exhibition Gala</h3>
                            <p>June 1st, 2016 <br> Berkeley <br> Attendees: 300 young professionals interested in photography</p>
                          </header>
                          <p>A photo exhibition of faces of Ambala, India taken by kids from Ambala.</p>
                          <p>Looking for: raffle sponsors (e.g. gift cards)</p>
                          <footer>
                            <ul class="actions">
                              <li><a href="http://goo.gl/forms/qEgkIykrRI" id="becomesponsor" class="button alt big banner-button">Sponsor this event</a></li>
                            </ul>
                          </footer>
                        </section>
                      </div>
										</div>
									</section>

							</div>
						</div>
					</div>
				</div>

			<!-- Footer -->


								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
                      <li>&copy; <a>Sponsorelane.com</a></li>
										</ul>
									</div>

							</div>
						</div>
					</section>
				</div>

		</div>

  <div class="overlay-bg" id="popupbg">
  </div>
  <div class="overlay-content popup" id="getsponsorpopup">
    <span class="close-popup">x</span>
    <p>No more calling around to find sponsors for your event. Our service is almost ready, and we'll contact you when it becomes available.</p>
    <form action="#" method="post">
      <div class="row uniform">
        <div class="12u$">
          <input name="name" id="gnamepopup" value="" placeholder="name" type="text">
        </div>
        <div class="12u$">
          <input name="email" id="gemailpopup" value="" placeholder="email" type="email">
        </div>
        <div class="12u$">
          <input type="text" name="org" id="gorgpopup" value="" placeholder="What's the name of your organization?">
        </div>
        <div class="12u$">
          <ul class="actions">
            <li><input value="Send" id="getsponsor-send-message" class="" type="submit"></li>
          </ul>
        </div>
      </div>
    </form>
  </div>
  <div class="overlay-content popup" id="besponsorpopup">
    <span class="close-popup">x</span>
    <p>Track your donation flows and community impact. Our service is almost ready, and we'll contact you when it becomes available.</p>
    <form action="#" method="post">
      <div class="row uniform">
        <div class="12u$">
          <input name="name" id="bnamepopup" value="" placeholder="name" type="text">
        </div>
        <div class="12u$">
          <input name="email" id="bemailpopup" value="" placeholder="email" type="email">
        </div>
        <div class="12u$">
          <input type="text" name="businessname" id="bbusinessnamepopup" value="" placeholder="What's the name of your business?">
        </div>
        <div class="12u$">
          <input type="text" name="loc" id="blocpopup" value="" placeholder="Where is it located?">
        </div>
        <div class="12u$">
          <ul class="actions">
            <li><input value="Send" id="besponsor-send-message" class="" type="submit"></li>
          </ul>
        </div>
      </div>
    </form>
  </div>
		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/skel-viewport.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>
      <script src="js/index.js"></script>
	<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
  for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
  mixpanel.init("9d0eebcee028638a08aff099deceab8c");</script><!-- end Mixpanel -->
      <script>mixpanel.track('home');</script> 
  </body>
</html>
