<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Dopetrope by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="styles/main.css" />
		<link rel="stylesheet" href="styles/index.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header">

						<!-- Logo -->
<!--
            <h1><a href="index.html">Dopetrope</a></h1>
-->
						<!-- Nav -->
<!--
              <nav id="nav">
								<ul>
									<li class="current"><a href="index.html">Home</a></li>
									<li><a href="left-sidebar.html">Left Sidebar</a></li>
									<li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
								</ul>
							</nav>
-->
						<!-- Banner -->
							<section id="banner">
								<header>
									<h2>Need help finding sponsors for your event?</h2>
									<p>No more calling around and waiting,<br> connect with businesses who are interested in giving back to the community</p>
								</header>
								<footer>
									<ul class="actions">
                    <li><a href="#" class="button big banner-button">Get sponsors</a></li>
										<li style="font-weight: bold">or</li>
										<li><a href="#" class="button alt big banner-button">Become a sponsor</a></li>
									</ul>
								</footer>
							</section>

						<!-- Intro -->
							<section id="intro" class="container">
								<div class="row">
									<div class="4u 12u(mobile)">
										<section class="first">
											<i class="icon featured fa-cog"></i>
											<header>
												<h2>Save time</h2>
											</header>
										  <p>Save time from calling businesses with no donations available.</p>
                    </section>
									</div>
									<div class="4u 12u(mobile)">
										<section class="middle">
											<i class="icon featured alt fa-flash"></i>
											<header>
												<h2>Donation Management</h2>
											</header>
											<p>Manage your sponsorship goals and progress.</p>
										</section>
									</div>
									<div class="4u 12u(mobile)">
										<section class="last">
											<i class="icon featured alt2 fa-star"></i>
											<header>
												<h2>Instant updates</h2>
											</header>
											<p>Get instant updates on the donations and update your donors with their community impact.</p>
										</section>
									</div>
								</div>
							</section>

					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row">
							<div class="12u">

								<!-- Portfolio -->
									<section>
										<header class="major">
											<h2>Sponsors</h2>
										</header>
										<div class="row">
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img src="https://spoonuniversity.com/wp-content/uploads/2015/06/whole-foods11.jpg" alt="" /></a>
													<header>
														<h3>Whole Foods</h3>
                            <p>Fresh produce</p>
													</header>
                          <!--
                          <footer>
														<a href="#" class="button alt">Find out more</a>
													</footer>
                          -->
												</section>
											</div>
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img src="http://roaminghunger.com/img/trucks/original/4ccb0c97-6e40-4ec1-be8d-28c946204482.jpg" alt="" /></a>
													<header>
														<h3>Twirl and Dip</h3>
													  <p>Soft serve ice cream</p>
													</header>
												</section>
											</div>
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img src="http://www.simplyscratch.com/wp-content/uploads/2013/07/burgers-and-fries.jpg" alt="" /></a>
													<header>
														<h3>Skool</h3>
													  <p>Seafood with Japanese flair</p>
                          </header>
												</section>
											</div>
										</div>
										<div class="row">
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img src="http://www.centives.net/S/wp-content/uploads/2013/09/090113_0808_TheEconomic1.jpg" alt="" /></a>
													<header>
														<h3>AMC</h3>
                            <p>Theatres</p>
													</header>
												</section>
											</div>
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img src="http://lifemadesimplebakes.com/wp-content/uploads/2014/05/Jumbo-Bakery-Style-Chocolate-Chunk-Banana-Muffins-3.jpg" alt="" /></a>
													<header>
														<h3>Mimi's cafe</h3>
                            <p>Fresh bakery</p>
                          </header>
												</section>
											</div>
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img src="http://i.imgur.com/OKv0dzN.png" alt="" /></a>
													<header>
														<h3>Sports Basement</h3>
													  <p>Sports apparel and gear</p>
                          </header>
												</section>
											</div>
										</div>
									</section>

							</div>
						</div>
						<div class="row">
							<div class="12u">

								<!-- Blog -->
									<section>
										<header class="major">
											<h2>Events</h2>
										</header>
										<div class="row" id="event">
											<div class="6u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img class="taller" src="http://www.giveforward.com/blog/wp-content/uploads/2012/12/breast-cancer-fundraing-event-2.jpg" alt="" /></a>
													<header>
														<h3>Breast Cancer Walk 2016</h3>
														<p>Posted 45 minutes ago</p>
													</header>
													<p>Every five-mile Breast Cancer walk is a inspiring opportunity to unite as a community to honor breast cancer survivors, raise awareness about steps we can take to reduce the risk of getting breast cancer.</p>
                          <footer>
														<ul class="actions">
															<li><a href="#" class="button icon fa-file-text">Continue Reading</a></li>
															<li><a href="#" class="button alt icon fa-comment">33 comments</a></li>
														</ul>
													</footer>
												</section>
											</div>
											<div class="6u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img class="taller" src="http://dailybruin.com/images/galleries/dance-marathon-2015/web.DM_.sun_.0409am.OE_.jpg" alt="" /></a>
													<header>
														<h3>Student dance all night for charity</h3>
														<p>Posted 2 hours ago</p>
													</header>
													<p>Students danced for 16 hours in Carmichael Gym beginning at 7 p.m. for Dance Marathon Friday to raise a total of $41,022.59 for children suffering from chronic illnesses.</p>
                          <footer>
														<ul class="actions">
															<li><a href="#" class="button icon fa-file-text">Continue Reading</a></li>
															<li><a href="#" class="button alt icon fa-comment">38 comments</a></li>
														</ul>
													</footer>
												</section>
											</div>
										</div>
									</section>

							</div>
						</div>
					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper">
					<section id="footer" class="container">
						<div class="row">
							<div class="8u 12u(mobile)">
								<section>
									<header>
										<h2>Upcoming events</h2>
									</header>
									<ul class="dates">
										<li>
											<span class="date">Mar <strong>5</strong></span>
											<h3><a href="#">Oxfam America Hunger banquet</a></h3>
										  <p>Berkeley High School is hosting an Oxfam America Hunger Banquet to teach students about trade inequality.</p>
                    </li>
										<li>
											<span class="date">Mar <strong>6</strong></span>
											<h3><a href="#">Teachers appreciation brunch</a></h3>
										  <p>Oakland Unified School District is hosting a teachers appreciation brunch to thank teachers for all of their hard work.</p>
                    </li>
										<li>
											<span class="date">Mar <strong>9</strong></span>
											<h3><a href="#">Volunteer tutors info session</a></h3>
										  <p>First Graduate is running an info session for their volunteer tutors for this semester.</p>
                    </li>
										<li>
											<span class="date">Mar <strong>12</strong></span>
											<h3><a href="#">Clicking Together photos exhibition</a></h3>
										  <p>Clicking Together is exhibiting photos at 111 Minna Gallery in San Francisco taken by at-risk youth who completed their photography arts education program.</p>
                    </li>
									</ul>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section>
									<header>
										<h2>What's this all about?</h2>
									</header>
									<p>
									  Our mission is to empower nonprofits to fulfill their work by enable community-based events
                  </p>
								</section>
							</div>
						</div>
						<div class="row">
							<div class="12u">

								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy; Judy Mou and Hannah Yang. All rights reserved.</li>
										</ul>
									</div>

							</div>
						</div>
					</section>
				</div>

		</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/skel-viewport.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>
