<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>getsponsored</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/index.css" />
		<link rel="stylesheet" href="/styles/report.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header">

						<!-- Logo -->
							<h1 style="font-weight:600">ProtoHack Event Report</h1>
              <h2>for Strawberry Twirl</h2>
					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container" id="report">

						<!-- Content -->
							<article class="box post" style="text-align:left">
								<a href="#" class="image featured"><img style="height:auto;padding:20px 20px 0 20px" src="http://i.imgur.com/UvgJ3gK.png" alt="" /></a>
                <header style="padding-top:0">
                  <h2 style="color:black;font-size:2.5em">Event</h2>
                </header>
                <p>
								  A 12 hour hackathon with education, inspiration, networking, and prototyping. Start the day with an idea and at the end of the day you'll have 90 seconds to pitch your idea in front of investors, developers, product people, and more. Walk away with a prototype, pitch, and awesome prizes to take your product to the next level all without writing a single line of code.
                </p>
								<p>
							    ProtoHack exists to show non-coders that they can create something amazing from nothing. We empower and enable the non-technical community with the tools, knowledge and connections that will help bring their idea to life and visually communicate it through prototyping.	
                </p>
								<section id="report">
									<header>
										<h2>10</h2><h3>Photo Shares</h3>
									</header>
									<p>
										Elementum odio duis semper risus et lectus commodo fringilla. Maecenas sagittis convallis justo vel mattis.
										placerat, nunc diam iaculis massa, et aliquet nibh leo non nisl vitae porta lobortis, enim neque fringilla nunc,
										eget faucibus lacus sem quis nunc suspendisse nec lectus sit amet augue rutrum vulputate ut ut mi. Aenean
										elementum, mi sit amet porttitor lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor
										sit amet nullam consequat feugiat dolore tempus.
										Elementum odio duis semper risus et lectus commodo fringilla. Maecenas sagittis convallis justo vel mattis.
										placerat, nunc diam iaculis massa, et aliquet nibh leo non nisl vitae porta lobortis, enim neque fringilla nunc,
										eget faucibus lacus sem quis nunc suspendisse nec lectus sit amet augue rutrum vulputate ut ut mi. Aenean
										elementum, mi sit amet porttitor lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor.
									</p>
									<p>
										Nunc diam iaculis massa, et aliquet nibh leo non nisl vitae porta lobortis, enim neque fringilla nunc,
										eget faucibus lacus sem quis nunc suspendisse nec lectus sit amet augue rutrum vulputate ut ut mi. Aenean
										elementum, mi sit amet porttitor lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor
										sit amet nullam consequat feugiat dolore tempus.
									</p>
								</section>
								<section>
									<header>
										<h2>3</h2><h3>Twitter Interactions</h3>
									</header>
								    <a href="#" class="image" style="margin-top:0px"><img style="height:25em;width:auto" src="http://i.imgur.com/wgT7P7N.png" alt="" /></a>
                </section>
								<section>
									<header>
										<h2>3</h2><h3>Video Shared</h3>
									</header>
								    <a href="#" class="image" style="margin-top:0px"><img style="height:auto;width:100%" src="http://i.imgur.com/EWDf9cg.png" alt="" /></a>
                </section>
							</article>

					</div>
				</div>
		</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.dropotron.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/skel-viewport.min.js"></script>
			<script src="/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/js/main.js"></script>

	</body>
</html>
