#post .image img {
  height: auto;
}
#titleBar {
display:none;
}
#getsponsor {
  background: rgba(213,35,73, 0.85)
}

#becomesponsor {
  background: rgba(213,35,73, 0.85)
}
#header {
   margin-top: 0px;
}

.homepage #header-wrapper {
  padding-top: 0;
}

#banner {
  margin-top: 0;
}

.location {
  font-size: 16px;
}

.box {
  text-align: center;
}
.overlay-bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
  cursor: pointer;
  z-index: 1000; /* high z-index */
  background: #000; /* fallback */
  background: rgba(0,0,0,0.75);
}

.overlay-content {
  display: none;
  background: #fff;
  padding: 1%;
  width: 60%;
  position: absolute;
  top: 15%;
  left: 39%;
  margin: 0 0 0 -20%; /* add negative left margin for half the width to center the div */
  cursor: default;
  z-index: 10001;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.9);
}

.popup {
  top: 15%;
}

#claimpopup {
  top: 1%;
}

.close-popup {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-weight: bold;
}

.close-btn {
  cursor: pointer;
  border: 1px solid #333;
  padding: 2% 5%;
  background: #a9e7f9; /* fallback */
  background: -moz-linear-gradient(top,  #a9e7f9 0%, #77d3ef 4%, #05abe0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9e7f9), color-stop(4%,#77d3ef), color-stop(100%,#05abe0));
  background: -webkit-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
  background: -o-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
  background: -ms-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
  background: linear-gradient(to bottom,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

.close-btn:hover {
  background: #05abe0;
}

/* media query for most mobile devices */
@media only screen and (min-width: 0px) and (max-width: 480px){
  .overlay-content {
    width: 96%;
    margin: 0 2%;
    top: 0.5em;
    left: 0;
    padding: 25px;
  }
}

.mapbanner {
  margin-left: 0;
}

.mapbanner #map {
  height: 250px;
}

.simpleInfoWindow .content {
  display: none !important;
  height: 0 !important;
}

.simpleInfoWindow .title {
  text-align: center;
  font-size: 14pt;
}

#map_graphics_layer image, .glyphicon-ok, .glyphicon-remove {
  cursor: pointer;
}

#chart {
  height: 350px;
}

.c3-legend-item text {
  font-weight: bold;
}

.simpleInfoWindow .title {
  border-bottom: none !important;
}

.close {
  opacity: 0.7 !important;
}

.esriAttributionLastItem {
  display: none !important;
}

.filters h4 {
  display: inline;
}

.filters label {
  background: #aaa;
  padding-left: 5px;
  padding-right: 5px;
  margin: 6px;
  border-radius: 6px;

  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.filters input {
  display: none;
}

.filters label.active {
  background: rgba(213, 35, 73, 0.55);
}

.filters label.active:before {
  content: '✓ ';
}
